@charset "UTF-8";
body 
 {
    background-image: url("Home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-decoration: none;
 }
 .button 
 {	  background-color: #FFCC00;
 	  border-radius: 3px;
 	  width: 80px;
 	  height: 40px;
 	  margin-top: 500px;
 	  margin-left: 700px;
 	  position: fixed; 

 }