@charset "UTF-8";
body 
{
   background-color: #990000;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   text-decoration: none;
}
#Instructor
{	  background-color: #FFCC00;
	  border-radius: 3px;
	  width: 250px;
	  height: 80px;
	  color: #990000;
	  margin-top: 39px;
	  margin-left: 100px;
	  text-align: center;
	  font-size: 50px;
	  font-weight: bold;
}
#CoursesLabel
{	  background-color: #FFCC00;
	  border-radius: 3px;
	  width: 350px;
	  height: 80px;
	  color: #990000;
	  margin-top: 50px;
	  margin-left: 100px;
	  text-align: center;
	  font-size: 50px;
	  font-weight: bold;
}

.button 
{	  background-color: #FFCC00;
	  border-radius: 3px;
	  width: 350px;
	  height: 80px;
	  color: #990000;
	  margin-top: -300px;
	  margin-left: 1000px;
	  text-align: center;
	  font-size: 50px;
	  font-weight: bold;
	  text-decoration: none;
	  
}
#signout
{
	  background-color: #FFCC00;
	  width: 130px;
	  height: 30px;
	  margin-top: -300px;
	  margin-left: 1200px;
	  text-align: center;
	  font-size: 20px;
	  font-weight: bold;
	  
}
#dropdown
{
	margin-top: 30px;
	margin-left: 680px;
	color: #FFCC00;
	font-size: 20px;
}
#drop
{
	width: 150px;
	height:50px;
	background-color: #FFCC00;
	font-weight: bold;
	color: #990000;
}

h1 {
	border-style: solid;
	border-radius: 3px;
    border-color: #FFCC00;
    color: #FFCC00;
    border-width: 5px;
    width: 20%;
    text-align: center;
    margin-top: -80px;
    margin-left: 600px;
}

#submit_button
{
	  background-color: #FFCC00;
	  border-radius: 3px;
	  width: 150px;
	  height: 40px;
	  color: #990000;
	  margin-top: 30px;
	  text-align: center;
	  font-size: 20px;
	  font-weight: bold;
}