@charset "UTF-8";
body 
{
   background-color: #990000;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   text-decoration: none;
}
#header{
	border-style: solid; 
    border-color:white;
    height:100px;
}
.allButtons{
	background-color: #FFCC00;
	color:#990000;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	padding: 15px 15px;
}
.allTitles{
	border-style: solid;
    border-radius: 3px;
    border-color: #FFCC00;
    color: #FFCC00;
    border-width: 5px;
    text-align: center;
    font-size:30px;
    font-weight:bold;
}
h1 {
    margin-top: 50px;
}
#buttons{
    border-style:solid;
    border-color:yellow;
    margin-top:15px;
    height: 60px;
}
#start{
    display:inline-block;
    float:left; 
}
#signout
{
    float:left;
    margin-left:1000px;
    margin-top:15px;
}
#content{
	border-style:solid;
	border-color:yellow;
	margin-top:15px; 
	height:500px;
}
#hours {
	border-style: solid; 
    border-color:white; 
	display:inline-block;
	float:left;
	height: 250px; 
	width: 450px; 
	margin-right:200px;
	margin-top: 20px;
}

#hoursForm{
	color:#FFCC00;
	font-size:20px;
	font-weight: bold;
}
#submitButton{
	margin:auto;
	display:block;
}

#officeHoursList{
	border-style: solid; 
	border-color:white;
	display: inline-block;
	height:250px; 
	width: 350px; 
	color: #FFCC00;
	font-size:20px; 
	margin-top: 20px;
}
