@charset "UTF-8";
body 
{
   background-color: #990000;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   text-decoration: none;
}
#header{
    border-style: solid; 
    border-color:white;
    height:100px;
}
.allButtons{
    background-color: #FFCC00;
    color:#990000;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    padding: 15px 15px;
}
.allTitles{
    border-style: solid;
    border-radius: 3px;
    border-color: #FFCC00;
    color: #FFCC00;
    border-width: 5px;
    text-align: center;
    font-size:30px;
    font-weight:bold;
}
h1 {
    margin-top: 50px;
}
#signout
{
    border-style:solid;
    border-color:white;
    margin-top:15px;
    height:60px;
}
#signOutButton{
	background-color: #FFCC00;
    color:#990000;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    padding: 15px 15px;
    float:left;
    margin-left:1240px;
}
#queueButtons{
	border-style: solid;
	border-color:white;
	margin-top:15px;
	height:350px;
}
#queueNumber{
    background-color: #FFCC00;
    border-radius: 3px;
    width: 300px;
    height: 70px;
    color: #990000;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    float:left;

}
#checkQueue{
    float:left;
    margin-left:250px;
}
#officeHoursList{
    border-style: solid; 
    border-color:white;
    height:250px; 
    color: #FFCC00;
    font-size:20px; 
    margin-top: 20px;
}



